{% extends 'base.html' %}
{% block my_style %}
.card-parent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.card-parent2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
{% endblock %}

{% block content %}
<div class="card-parent">
    <div class="card" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/ryppsv1511815505.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title"> Beaver Tails</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    <div class="card" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/1550441882.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Brearfast potato</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    <div class="card" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/wpputp1511812960.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Canadian Butter Tarts</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
</div>
<div class="card-parent2">
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/uttupv1511815050.jpg".jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title"> Montreal smoked meal</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
      </div>
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/vwuprt1511813703.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Nanaimo Bars</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/yyrrxr1511816289.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Pate Chinois</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
</div>
<div class="card-parent2">
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/yqqqwu1511816912.jpg".jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Pouding chomeur</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
      </div>
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/uuyrrx1487327597.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Poutine</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
    <div class="card1" style="border: 1px solid; width: 18rem;" >
        <img src="https://www.themealdb.com/images/media/meals/ruwpww1511817242.jpg" class="card-img-top" alt="..." style="width: 100%;">
        <div class="card-body">
          <h1 class="card-title">Rappie Pie</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>
</div>
<div class="card1" style="border: 1px solid; width: 18rem; margin-left:73px" >
    <img src="https://www.themealdb.com/images/media/meals/yqqqwu1511816912.jpg".jpg" class="card-img-top" alt="..." style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title">Spilit Pea Soup</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>
{% endblock %}